{% extends "base.html" %}

{% block title %}Info{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}

<main role="main">
    <div class="card text-center mx-auto" style="width: 90vw;
                    height: 100vh;" key={{result.id}}>
        <div class="card-header"><b>{{result.name}} </b></div>
        <div class="card-body">

            <img class="card-img-top" src="{{ result.sprites.other.dream_world.front_default }}" style="width: 80vw;
                    height: 80vh;">
        </div>
    </div>

    <!-- Row -->

    <div class="container">
        <div class="card-columns">

        </div>
    </div>

    <div class="col-md-4 p-3">
        <div class="card box-shadow">

            <div class="card-body">
                <ul class="left" style="list-style-position: none;">
                    {% for move in result.moves %}
                    <li class="card-text">
                        <a href="{{ move.move.url}}" class="flex">{{ move.move.name }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div> <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>

    <!-- Row -->
    {% endblock %}

    {% block footer %}

    {% endblock %}