{% extends "base.html" %}

{% block title %}Info{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}

<main role="main">
    <div class="card text-center mx-auto" style="width: 90vw;
                    height: 100vh;" key={{result.id}}>
        <div class="card-header"><b>{{result.name}} </b></div>
        <div class="card-body">

            <img class="card-img-top" src="{{ result.sprites.other.dream_world.front_default }}" style="width: 80vw;
                    height: 80vh;">

            <div class="py-4 bg-light">
                <div class="container">
                    <div class="card-columns">

                        {% for move in result.moves %}
                        {% with move=move %}
                        {% include 'movecard.html' %}
                        {% endwith %}
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}

{% endblock %}