<div class="card text-center mx-auto" style="max-width: 18rem;" key={{pokemon.id}}>
    <div class="card-header"><b><a href="/pokemon/{{pokemon.name}}/detail" >{{pokemon.name}}</a></b></div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Id: {{pokemon.id}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Height: {{pokemon.height}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Weight: {{pokemon.weight}}</h6>
        <img src={{pokemon.sprites.front_default}} />
        <img src={{pokemon.sprites.back_default}} />
    </div>
</div>